<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" parallel="false">
<listeners>
<listener class-name="com.framework.listeners.TestListener"/>
</listeners>

    <test name="Saucedemo Test Suite">
        <classes>
            <class name="com.framework.tests.AppTest"/>
            <class name="com.framework.tests.InventoryTest"/>
        </classes>
    </test>
</suite>